@import "tailwindcss";

@layer utilities {
	.image-pixel {
		image-rendering: pixelated;
	}
	.button {
		@apply bg-pink-600 rounded-xl transition hover:bg-pink-500 flex items-center justify-center px-4 py-2 max-w-max;
	}

	.input {
		@apply border border-gray-300 rounded text-white p-2 min-w-0;
	}
}

@layer base {
	body {
		cursor: url("./assets/cursor-icon.png") 4 4, auto;
	}
	button,
	label,
	input[type="radio"],
	a {
		cursor: url("./assets/cursor-pointer-icon.png") 2 2, pointer;
	}
	input[type="text"],
	textarea {
		cursor: url("./assets/cursor-text-icon.png") 16 16, text;
	}
}
